<%- include('partials/_header') -%>

<body>
  <%- include('partials/_navigation') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= post.title %></h1>
            <span class="meta"><%= post.dateCreated.toLocaleString() %></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p><%= post.detail %></p>
        </div>
      </div>
      <div class=" row justify-content-end">
        <div class="col-4">
          <a href="/post/edit/<%= post._id %>" class="btn btn-primary">Update</a>
          <a
            href="/post/<%= post._id %>?_method=DELETE"
            onclick="return confirm('Are you sure?')"
            class="btn btn-danger"
          >Delete</a>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <%- include('partials/_footer') -%>
</body>

</html>
